[submodule "packages/skombase"]
	path = packages/skombase
	url = https://github.com/Starraider/skombase.git
[submodule "public/typo3conf/contentBlocks"]
	path = public/typo3conf/contentBlocks
	url = https://github.com/Starraider/contentBlocks.git
